<section class="card">
<div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quae ullam fugiat incidunt voluptatem soluta vero inventore quo enim pariatur sunt nisi magnam repellat, quasi unde corrupti sequi doloremque eaque?</p>
</div>
</section>