<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App nodeJs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis eum eligendi, nam possimus deserunt rem reprehenderit cupiditate assumenda? Ea id dignissimos soluta quis maxime facilis cum amet ipsa. Ipsum, cumque?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus itaque at quasi fugit accusantium sequi sunt ea ab. Voluptates, dignissimos perferendis! Magnam eos autem architecto atque ex hic consequatur!</p>
    <a href="/" class="btn btn-primary">Ir a inicio</a>
</div>
